<p-panel [header]="'InterestPlus Online Savings Account Acceptance Form - ACCOUNT OWNER INFORMATION '">
  <p-card>
    <strong> Information about procedures for opening a new account: To help the government fight the funding of
      terrorism and money laundering activities, Federal Law requires all financial institutions to obtain, verify and
      record information that identifies each person who opens an account. What this means to you: When you open an
      account, we will ask your name, address, date of birth, and other information that will allow us to identify you.</strong>
  </p-card>
  <div class="form">
    <h3>For custodian accounts enter Minor in 1 and Adult in 2 </h3>
    <p-fieldset legend="1. Owner Details" [toggleable]="true" [collapsed]="false" [transitionOptions]="'600ms cubic-bezier(0.86, 0, 0.07, 1)'">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Owner's Name
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
        <div class="ui-grid-col-3">
          Owner's SSN
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Owner's Date Of Birth
        </div>
        <div class="ui-grid-col-3">
          <p-calendar >
          </p-calendar>
        </div>
        <div class="ui-grid-col-3">Owner's Physical Address</div>
        <div class="ui-grid-col-3">
          <textarea pInputTextarea autoResize="autoResize" style="width:178px"></textarea>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">Owner's City</div>
        <div class="ui-grid-col-3"><input type="text" pInputText></div>
        <div class="ui-grid-col-3">Owner's State</div>
        <div class="ui-grid-col-3"><input type="text" pInputText></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">Owner's Zip</div>
        <div class="ui-grid-col-3"> <input type="text" pInputText> </div>
        <div class="ui-grid-col-3"></div>
        <div class="ui-grid-col-3"></div>
      </div>
    </p-fieldset>
    <p-fieldset legend="2. Co-Owner Details" [toggleable]="true" [collapsed]="true" [transitionOptions]="'600ms cubic-bezier(0.86, 0, 0.07, 1)'">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Co-Owner's Name
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
        <div class="ui-grid-col-3">
          Co-Owner's SSN
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Co-Owner's Date of Birth
        </div>
        <div class="ui-grid-col-3">
          <p-calendar >
          </p-calendar>
        </div>
        <div class="ui-grid-col-3">Co-Owner's Physical Address </div>
        <div class="ui-grid-col-3">
          <textarea pInputTextarea autoResize="autoResize" style="width:178px"></textarea>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">Co-Owner's City</div>
        <div class="ui-grid-col-3"><input type="text" pInputText></div>
        <div class="ui-grid-col-3">Co-Owner's State</div>
        <div class="ui-grid-col-3"><input type="text" pInputText></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">Co-Owner's Zip</div>
        <div class="ui-grid-col-3"> <input type="text" pInputText> </div>
        <div class="ui-grid-col-3"></div>
        <div class="ui-grid-col-3"></div>
      </div>
    </p-fieldset>
    <p-fieldset legend="3. Co-Owner Details" [toggleable]="true" [collapsed]="true" [transitionOptions]="'600ms cubic-bezier(0.86, 0, 0.07, 1)'">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Co-Owner's Name
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
        <div class="ui-grid-col-3">
          Co-Owner's SSN
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Co-Owner's Date of Birth
        </div>
        <div class="ui-grid-col-3">
          <p-calendar >
          </p-calendar>
        </div>
        <div class="ui-grid-col-3">Co-Owner's Physical Address </div>
        <div class="ui-grid-col-3">
          <textarea pInputTextarea autoResize="autoResize" style="width:178px"></textarea>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">Co-Owner's City</div>
        <div class="ui-grid-col-3"><input type="text" pInputText></div>
        <div class="ui-grid-col-3">Co-Owner's State</div>
        <div class="ui-grid-col-3"><input type="text" pInputText></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">Co-Owner's Zip</div>
        <div class="ui-grid-col-3"> <input type="text" pInputText> </div>
        <div class="ui-grid-col-3"></div>
        <div class="ui-grid-col-3"></div>
      </div>
    </p-fieldset>
    <p-fieldset legend="4. Co-Owner Details" [toggleable]="true" [collapsed]="true" [transitionOptions]="'600ms cubic-bezier(0.86, 0, 0.07, 1)'">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Co-Owner's Name
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
        <div class="ui-grid-col-3">
          Co-Owner's SSN
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Co-Owner's Date of Birth
        </div>
        <div class="ui-grid-col-3">
          <p-calendar >
          </p-calendar>
        </div>
        <div class="ui-grid-col-3">Co-Owner's Physical Address </div>
        <div class="ui-grid-col-3">
          <textarea pInputTextarea autoResize="autoResize" style="width:178px"></textarea>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">Co-Owner's City</div>
        <div class="ui-grid-col-3"><input type="text" pInputText></div>
        <div class="ui-grid-col-3">Co-Owner's State</div>
        <div class="ui-grid-col-3"><input type="text" pInputText></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">Co-Owner's Zip</div>
        <div class="ui-grid-col-3"> <input type="text" pInputText> </div>
        <div class="ui-grid-col-3"></div>
        <div class="ui-grid-col-3"></div>
      </div>
    </p-fieldset>

    <h3>ACCOUNT ACCESS SELECTIONS - BENEFICIARY INFORMATION</h3>
    <p-card>
      <strong>
        Beneficiaries are not allowed on Trust, Commercial or Custodian accounts. If beneficiaries were provided
        earlier during the application process, they must also be included on this form.
      </strong>
    </p-card>
    <p-fieldset legend="1. BENEFICIARY INFORMATION" [toggleable]="true" [collapsed]="false" [transitionOptions]="'600ms cubic-bezier(0.86, 0, 0.07, 1)'">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Beneficiary's Name
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
        <div class="ui-grid-col-3">
          Beneficiary's SSN
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="2. BENEFICIARY INFORMATION" [toggleable]="true" [collapsed]="true" [transitionOptions]="'600ms cubic-bezier(0.86, 0, 0.07, 1)'">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Beneficiary's Name
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
        <div class="ui-grid-col-3">
          Beneficiary's SSN
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="3. BENEFICIARY INFORMATION" [toggleable]="true" [collapsed]="true" [transitionOptions]="'600ms cubic-bezier(0.86, 0, 0.07, 1)'">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Beneficiary's Name
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
        <div class="ui-grid-col-3">
          Beneficiary's SSN
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="4. BENEFICIARY INFORMATION" [toggleable]="true" [collapsed]="true" [transitionOptions]="'600ms cubic-bezier(0.86, 0, 0.07, 1)'">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Beneficiary's Name
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
        <div class="ui-grid-col-3">
          Beneficiary's SSN
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="5. BENEFICIARY INFORMATION" [toggleable]="true" [collapsed]="true" [transitionOptions]="'600ms cubic-bezier(0.86, 0, 0.07, 1)'">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Beneficiary's Name
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
        <div class="ui-grid-col-3">
          Beneficiary's SSN
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="6. BENEFICIARY INFORMATION" [toggleable]="true" [collapsed]="true" [transitionOptions]="'600ms cubic-bezier(0.86, 0, 0.07, 1)'">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Beneficiary's Name
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
        <div class="ui-grid-col-3">
          Beneficiary's SSN
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
      </div>
    </p-fieldset>
    <h3>ADDITIONAL INFORMATION</h3>
    <h4>Taxpayer Identification Number Certification </h4>
    <h5>Under penalties of perjury, I certify that: <br> 1. The number shown on this form is my correct taxpayer
      identification number (or I am waiting for a number to be issued to me), and <br> 2. I am not subject to backup
      withholding because: (a) I am exempt from backup withholding, or (b) I have not been notified by the Internal
      Revenue Service (IRS) that I am subject to backup withholding as a result of a failure to report all interest or
      dividends, or (c) the IRS has notified me that I am no longer subject to backup withholding, and <br> 3. I am a
      U.S.
      citizen or other U.S. person (defined in the instructions). **You must cross out item 2 above if you have been
      notified by the IRS that you are currently subject to backup withholding because you have failed to report all
      interest and dividends on your tax return. For real estate transactions, item 2 does not apply. For mortgage
      interest paid, acquisition or abandonment of secured property, cancellation of debt, contributions to an
      individual retirement arrangement (IRA), and generally, payments other than interest and dividends, you are not
      required to sign the certification, but you must provide your correct TIN. <br> 4. The FATCA code(s) entered on
      this
      form (if any) indicating that I am exempt from FATCA reporting is correct.
    </h5>
    <h6>Capital One reserves the right to investigate your account information which may include a review of your
      credit bureau information. Should any information provided on this acceptance form prove to be false or
      misleading, now or in the future, we may freeze the funds in the account pending the completion of our
      investigation and may also close the account. If an account is closed, a check will be issued that includes the
      funds on deposit and all interest accrued minus applicable fees and penalties, unless we have suffered a material
      loss as a result of the false or misleading information, in which case you agree we may offset our loss with the
      funds on deposit</h6>
    <h6>Any incorrect or missing information on this signature form may cause delays in setting up this account </h6>
    <h6>Information about procedures for opening a new account: To help the government fight the funding of terrorism
      and money laundering activities, Federal Law requires all financial institutions to obtain, verify and record
      information that identifies each person who opens an account. What this means to you: When you open an account,
      we will ask your name, address, date of birth, and other information that will allow us to identify you. </h6>
    <h3>Agreement to Terms </h3>
    <p-card>
      <strong>The Internal Revenue Service does not require your consent to any provisions of this document other
        than the certifications required to avoid backup withholding.</strong>
    </p-card>
    <h5>I (We) agree to be bound by the Capital One Account Agreement and terms and conditions described in the account
      agreement, including any and all amendments thereto. You have authorized Capital One to complete the opening of
      this account upon receipt of this form. </h5>

    <p-fieldset legend="Signature" [toggleable]="true" [collapsed]="false" [transitionOptions]="'600ms cubic-bezier(0.86, 0, 0.07, 1)'">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Owner's Signature
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
        <div class="ui-grid-col-3">
          Date
        </div>
        <div class="ui-grid-col-3">
          <p-calendar >
          </p-calendar>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Owner's Signature
        </div>
        <div class="ui-grid-col-3">
          <input pInputText type="text">
        </div>
        <div class="ui-grid-col-3">
          Date
        </div>
        <div class="ui-grid-col-3">
          <p-calendar >
          </p-calendar>
        </div>
      </div>
    </p-fieldset>
  </div>
</p-panel>
